/* =====================
   WINNER LOGO & TROPHY FIX
===================== */


.logo{

    width:280px;

    display:block;

    margin:0 auto 20px;

}



.trophy{

    font-size:80px;

    line-height:1;

    margin:10px 0 20px;

    animation:bounce 1.5s infinite;

}



.winner-card h2{

    margin-top:0;

    margin-bottom:30px;

}
