/* =====================
   WINNER PAGE FINAL STYLE
===================== */


.winner-container{

    min-height:100vh;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    z-index:2;

}



.winner-card{

    width:650px;

    padding:50px;

    border-radius:30px;

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.2);

    text-align:center;

    font-family:'Poppins',sans-serif;

    animation:fade .8s;

}



.winner-card h1{

    color:#F2C94C;

    font-size:42px;

    font-weight:800;

    letter-spacing:1px;

    margin-bottom:5px;

}



.winner-card h2{

    color:white;

    font-size:30px;

    font-weight:500;

    margin-bottom:30px;

}



.trophy{

    font-size:90px;

    animation:bounce 1.5s infinite;

}



.winner-name{

    min-height:120px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:'Poppins',sans-serif;

    font-size:64px;

    font-weight:800;

    letter-spacing:2px;

    color:#F2C94C;

    text-transform:uppercase;

    margin:30px 0;

    animation:zoom .6s;

}



.winner-number{

    font-family:'Poppins',sans-serif;

    font-size:28px;

    font-weight:600;

    color:white;

    margin-bottom:40px;

}



#drawWinner{

    width:100%;

    padding:20px;

    border:none;

    border-radius:15px;

    background:#F2C94C;

    color:#111;

    font-family:'Poppins',sans-serif;

    font-size:22px;

    font-weight:800;

    cursor:pointer;

    transition:.3s;

}



#drawWinner:hover{

    transform:scale(1.05);

    box-shadow:0 0 40px #F2C94C;

}



/* Background sama seperti index */

.background{

    position:fixed;

    inset:0;

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),
    url("../background.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    z-index:0;

}



/* Animation */

@keyframes zoom{

    from{

        opacity:0;

        transform:scale(.3);

    }


    to{

        opacity:1;

        transform:scale(1);

    }

}



@keyframes bounce{

    0%,100%{

        transform:translateY(0);

    }


    50%{

        transform:translateY(-20px);

    }

}
