*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    background:#111;

    color:white;

    overflow:hidden;

}

.background{

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle at top,#2b1d00,#111 60%);

}

.container{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    position:relative;

    z-index:2;

}

.card{

    width:420px;

    padding:45px;

    border-radius:25px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.15);

    text-align:center;

    animation:fade .8s;

}

.logo{

    width:320px;

    margin-bottom:20px;

}

h2{

    color:#F2C94C;

    margin-bottom:10px;

    font-size:30px;

}

p{

    color:#ddd;

    margin-bottom:30px;

}

input{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    margin-bottom:20px;

    font-size:16px;

}

button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#F2C94C;

    color:#111;

    font-weight:bold;

    cursor:pointer;

    font-size:17px;

    transition:.3s;

}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 0 25px #F2C94C;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
